In [138]:
import pandas as pd
import re

df=pd.read_csv('./nasa.csv')
df.head()

,Neo Reference ID,Name,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Est Dia in M(min),Est Dia in M(max),Est Dia in Miles(min),Est Dia in Miles(max),Est Dia in Feet(min),...,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous
0,3703080,3703080,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,J2000,True
1,3723955,3723955,21.3,0.146068,0.326618,146.067964,326.617897,0.090762,0.202951,479.225620,...,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,J2000,False
2,2446862,2446862,20.3,0.231502,0.517654,231.502122,517.654482,0.143849,0.321655,759.521423,...,259.475979,643.580228,0.950791,248.415038,1.966857,2.458120e+06,292.893654,0.559371,J2000,True
3,3092506,3092506,27.4,0.008801,0.019681,8.801465,19.680675,0.005469,0.012229,28.876199,...,57.173266,514.082140,0.983902,18.707701,1.527904,2.457902e+06,68.741007,0.700277,J2000,False
4,3514799,3514799,21.6,0.127220,0.284472,127.219879,284.472297,0.079051,0.176763,417.388066,...,84.629307,495.597821,0.967687,158.263596,1.483543,2.457814e+06,135.142133,0.726395,J2000,True

In [139]:
df.drop(df.iloc[:, [0,1,5,6,7,8,9,10,13,16,17,19]], axis=1, inplace=True)
df.head()

,Absolute Magnitude,Est Dia in KM(min),Est Dia in KM(max),Close Approach Date,Epoch Date Close Approach,Relative Velocity km per hr,Miles per hour,Miss Dist.(kilometers),Orbiting Body,Orbit ID,...,Asc Node Longitude,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous
0,21.6,0.127220,0.284472,1995-01-01,788947200000,22017.003799,13680.509944,62753692.0,Earth,17,...,314.373913,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,J2000,True
1,21.3,0.146068,0.326618,1995-01-01,788947200000,65210.346095,40519.173105,57298148.0,Earth,21,...,136.717242,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,J2000,False
2,20.3,0.231502,0.517654,1995-01-08,789552000000,27326.560182,16979.661798,7622911.5,Earth,22,...,259.475979,643.580228,0.950791,248.415038,1.966857,2.458120e+06,292.893654,0.559371,J2000,True
3,27.4,0.008801,0.019681,1995-01-15,790156800000,40225.948191,24994.839864,42683616.0,Earth,7,...,57.173266,514.082140,0.983902,18.707701,1.527904,2.457902e+06,68.741007,0.700277,J2000,False
4,21.6,0.127220,0.284472,1995-01-15,790156800000,35426.991794,22012.954985,61010824.0,Earth,25,...,84.629307,495.597821,0.967687,158.263596,1.483543,2.457814e+06,135.142133,0.726395,J2000,True

In [140]:
df['Est Dia']=(df['Est Dia in KM(max)']+df['Est Dia in KM(min)'])/2
df.drop(df.iloc[:, [1,2]], axis=1, inplace=True)
df.head()

,Absolute Magnitude,Close Approach Date,Epoch Date Close Approach,Relative Velocity km per hr,Miles per hour,Miss Dist.(kilometers),Orbiting Body,Orbit ID,Orbit Determination Date,Orbit Uncertainity,...,Orbital Period,Perihelion Distance,Perihelion Arg,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Equinox,Hazardous,Est Dia
0,21.6,1995-01-01,788947200000,22017.003799,13680.509944,62753692.0,Earth,17,2017-04-06 08:36:37,5,...,609.599786,0.808259,57.257470,2.005764,2.458162e+06,264.837533,0.590551,J2000,True,0.205846
1,21.3,1995-01-01,788947200000,65210.346095,40519.173105,57298148.0,Earth,21,2017-04-06 08:32:49,3,...,425.869294,0.718200,313.091975,1.497352,2.457795e+06,173.741112,0.845330,J2000,False,0.236343
2,20.3,1995-01-08,789552000000,27326.560182,16979.661798,7622911.5,Earth,22,2017-04-06 09:20:19,0,...,643.580228,0.950791,248.415038,1.966857,2.458120e+06,292.893654,0.559371,J2000,True,0.374578
3,27.4,1995-01-15,790156800000,40225.948191,24994.839864,42683616.0,Earth,7,2017-04-06 09:15:49,6,...,514.082140,0.983902,18.707701,1.527904,2.457902e+06,68.741007,0.700277,J2000,False,0.014241
4,21.6,1995-01-15,790156800000,35426.991794,22012.954985,61010824.0,Earth,25,2017-04-06 08:57:58,1,...,495.597821,0.967687,158.263596,1.483543,2.457814e+06,135.142133,0.726395,J2000,True,0.205846

In [141]:
print(df['Miss Dist.(kilometers)'].value_counts())
print(df['Orbiting Body'].value_counts())
print(df['Orbit ID'].value_counts())
df.drop(['Orbiting Body'], axis=1, inplace=True)
df.drop(['Equinox'], axis=1, inplace=True)

39078284.0    2
68527912.0    2
44077684.0    2
38666960.0    2
53045132.0    2
             ..
38519716.0    1
9591420.0     1
52646248.0    1
46189860.0    1
68188464.0    1
Name: Miss Dist.(kilometers), Length: 4661, dtype: int64
Earth    4687
Name: Orbiting Body, dtype: int64
8      235
9      227
7      212
10     205
11     198
      ...
229      1
213      1
157      1
214      1
611      1
Name: Orbit ID, Length: 188, dtype: int64


- Orbit ID
- Orbit Uncertainity

In [142]:
years=[]
for i in df['Close Approach Date'].values:
    years.extend(re.findall('\d+', i))

data=[]
for i in range(14061):
    if len(years[i])>3:
        data.append(years[i]) 

df['Close Approach Date']=data

years2=[]
for i in df['Orbit Determination Date'].values:
    years2.extend(re.findall('\d+', i))

data2=[]
for i in range(28121):
    if len(years2[i])==4:
        data2.append(years2[i])

df['Orbit Determination Date']=data2

In [143]:
df['Close Approach Date']=df['Close Approach Date'].astype(int)
df['Orbit Determination Date']=df['Orbit Determination Date'].astype(int)
df['Hazardous'].replace(True, 1, inplace=True)
df['Hazardous'].replace(False, 1, inplace=True)

In [144]:
from sklearn.preprocessing import LabelEncoder

In [145]:
scale1=df['Close Approach Date'].values.reshape(-1, 1)
scaler=LabelEncoder()
scaler.fit(scale1)
scaled1=scaler.transform(scale1)

In [146]:
scale2=df['Orbit ID'].values.reshape(-1, 1)
scaler=LabelEncoder()
scaler.fit(scale2)
scaled2=scaler.transform(scale2)

In [147]:
scale3=df['Orbit Determination Date'].values.reshape(-1, 1)
scaler=LabelEncoder()
scaler.fit(scale3)
scaled3=scaler.transform(scale3)

In [148]:
scale4=df['Orbit Uncertainity'].values.reshape(-1, 1)
scaler=LabelEncoder()
scaler.fit(scale4)
scaled4=scaler.transform(scale4)

In [149]:
scaled1=pd.DataFrame(scaled1.reshape(-1, 1), columns=['scaled_Cloase Approach Date'])
scaled2=pd.DataFrame(scaled2.reshape(-1, 1), columns=['scaled_Orbit ID'])
scaled3=pd.DataFrame(scaled3.reshape(-1, 1), columns=['scaled_Orbit Determination Date'])
scaled4=pd.DataFrame(scaled4.reshape(-1, 1), columns=['scaled_Orbit Uncertainity'])

In [150]:
ndf=pd.concat([df, scaled1, scaled2, scaled3, scaled4], axis=1)
ndf.drop(['Close Approach Date'], axis=1, inplace=True)
ndf.drop(['Orbit ID'], axis=1, inplace=True)
ndf.drop(['Orbit Determination Date'], axis=1, inplace=True)
ndf.drop(['Orbit Uncertainity'], axis=1, inplace=True)

In [151]:
ndf

,Absolute Magnitude,Epoch Date Close Approach,Relative Velocity km per hr,Miles per hour,Miss Dist.(kilometers),Minimum Orbit Intersection,Jupiter Tisserand Invariant,Epoch Osculation,Eccentricity,Semi Major Axis,...,Aphelion Dist,Perihelion Time,Mean Anomaly,Mean Motion,Hazardous,Est Dia,scaled_Cloase Approach Date,scaled_Orbit ID,scaled_Orbit Determination Date,scaled_Orbit Uncertainity
0,21.600,788947200000,22017.003799,13680.509944,6.275369e+07,0.025282,4.634,2458000.5,0.425549,1.407011,...,2.005764,2.458162e+06,264.837533,0.590551,1,0.205846,0,16,3,5
1,21.300,788947200000,65210.346095,40519.173105,5.729815e+07,0.186935,5.457,2458000.5,0.351674,1.107776,...,1.497352,2.457795e+06,173.741112,0.845330,1,0.236343,0,20,3,3
2,20.300,789552000000,27326.560182,16979.661798,7.622912e+06,0.043058,4.557,2458000.5,0.348248,1.458824,...,1.966857,2.458120e+06,292.893654,0.559371,1,0.374578,0,21,3,0
3,27.400,790156800000,40225.948191,24994.839864,4.268362e+07,0.005512,5.093,2458000.5,0.216578,1.255903,...,1.527904,2.457902e+06,68.741007,0.700277,1,0.014241,0,6,3,6
4,21.600,790156800000,35426.991794,22012.954985,6.101082e+07,0.034798,5.154,2458000.5,0.210448,1.225615,...,1.483543,2.457814e+06,135.142133,0.726395,1,0.205846,0,24,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4682,23.900,1473318000000,79755.354273,49556.875548,6.187511e+06,0.019777,5.156,2457637.5,0.361512,1.161429,...,1.581299,2.457708e+06,304.306025,0.787436,1,0.071374,21,3,3,8
4683,28.200,1473318000000,11610.539577,7214.337772,9.677324e+05,0.006451,5.742,2458000.5,0.073200,1.075134,...,1.153835,2.458088e+06,282.978786,0.884117,1,0.009852,21,1,3,6
4684,22.700,1473318000000,25889.910626,16086.983633,9.126775e+06,0.059972,4.410,2458000.5,0.368055,1.528234,...,2.090708,2.458300e+06,203.501147,0.521698,1,0.124035,21,16,3,6
4685,21.800,1473318000000,40867.522309,25393.489071,3.900908e+07,0.177510,4.477,2458000.5,0.202565,1.486600,...,1.787733,2.458288e+06,203.524965,0.543767,1,0.187734,21,5,3,5
4686,19.109,1473318000000,129408.666253,80409.512650,6.916986e+07,0.051777,4.108,2458000.5,0.405642,1.474045,...,2.071980,2.458319e+06,184.820424,0.550729,1,0.648250,21,12,3,6

In [163]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [164]:
y=ndf['Hazardous']
X=ndf.drop(['Hazardous'], axis=1, inplace=False)

scaler=StandardScaler()
scaler.fit(X)
X_scaled=scaler.transform(X)

In [183]:
X_train, X_test, y_train, y_test=train_test_split(X_scaled, y, test_size=0.999, random_state=156)

In [184]:
from sklearn.ensemble import RandomForestClassifier

In [185]:
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import f1_score, roc_auc_score

In [186]:
rf_clf=RandomForestClassifier()

rf_clf.fit(X_train, y_train)
preds=rf_clf.predict(X_train)

print('정확도는 : {0:.4f}'.format(accuracy_score(y_train, preds)))

정확도는 : 1.0000